!!!
%html
  %head
    %link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous")
    %link(rel="stylesheet" href="https://cdn.rawgit.com/thomaspark/bootswatch/gh-pages/paper/bootstrap.min.css")
    %script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js")
    %script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous")
    %script(src="bower_components/fetch/fetch.js")

    :css
      .nothing { }

  %body
    .container
      = yield

